<section id="access-lastmod">
  <h2 class="panel-heading">Технологии</h2>
  <ul class="content list-unstyled ps-0 pb-1 ms-1 mt-2">
    <li class="text-truncate lh-lg">
      <a target="_blank" href="/posts/html-css-book/">Html и Сss</a>
    </li>
    <li class="text-truncate lh-lg">
      <a target="_blank" href="/posts/javascript-book/">Javascript</a>
    </li>
    <li class="text-truncate lh-lg">
      <a target="_blank" href="/posts/php-book/">Php</a>
    </li>
    <li class="text-truncate lh-lg">
      <a target="_blank" href="/posts/sql-book/">Sql</a>
    </li>
  </ul>
</section>
