services:
  nginx:
    build:
      context: docker
      dockerfile: nginx/Dockerfile
    ports:
      - "8080:80"
    volumes:
      - "./docker/nginx/conf.d:/etc/nginx/conf.d"
      - "./docker/nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "./docker/public:/public"

